<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Good Thymes Virtual Grocery</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link rel="stylesheet" type="text/css" media="all" href="/gtvg/css/gtvg.css" />
</head>


<body>

	<!-- .vbox -->
	<section class="vbox" th:fragment="content">
	
		<header class="header bg-white b-b">
			<p>Default page.</p>
		</header>
		
		<!-- .scrollable wrapper -->
		<section class="scrollable wrapper">
		
			<!-- .row -->
			<div class="row">
			
				<div class="col-lg-12">
					<h4 th:text="${title}"></h4>
					<p th:text="${message}"></p>
				</div>
				
			</div>
			<!-- /.row -->
				
		</section>
		<!-- /.scrollable wrapper -->
	        
	</section>
	<!-- /.vbox -->
	
</body>
</html>