<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Forbidden</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>


<style>

	.error {
		color: #ff0000;
	}
</style>

</head>
<body>

	<!-- .vbox -->
	<section class="vbox" th:fragment="content">

		<header class="header bg-white b-b">
			<p>Forbidden.</p>
		</header>

		<!-- .scrollable wrapper -->
		<section class="scrollable wrapper">
		
			<!-- .row -->
			<div class="row">
			
					
				<div class="col-lg-6">
	
					<p>HTTP Status 403 - Access is denied</p>
					
					<p th:if="${user == null}">You do not have permission to access this page!</p>
					<p th:if="${user != null}">${user.username} does not have permission to access this page!</p>
					
				</div>
	
			</div>
			<!-- /.row -->	
			
		</section>
		<!-- /.scrollable wrapper -->
	        
	</section>
	<!-- /.vbox -->
	
</body>

</html>